@import "reset";
@import "fontface";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font;
}

a {
  text-decoration: none;
  font-family: $font;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  @extend .d-flex;
  justify-content: center;
  align-items: center;
}
