@import "main";

.buttons {
  a {
    font-family: $font;
    color: $default;
    font-size: 24px;
    padding: 1rem 1.5rem;
    background-color: $purple;
    transition-duration: 400ms;
    &:hover {
      background-color: darken($purple, 10%);
    }
    &:active {
      background-color: $default;
      border: 1px solid $purple;
      color: $purple;
    }
    &.rounded:hover {
      border-radius: .75rem;
    }
    &.dark:hover {
      background-color: $dark;
      color: $berry;
    }
    &.dark:active {
      border-color: $dark;
      background-color: $default;
    }
    &.light:hover {
      background-color: lighten($purple, 10%);
      color: $default;
    }
  }
}