@import "main";

.buttons {
  a {
    font-family: $font;
    color: $default;
    font-size: 24px;
    padding: 1rem 1.5rem;
    background-color: $purple;
    transition-duration: 400ms;
    transition-property: border-radius, background-color;
    &:hover {
      background-color: darken($purple, 10%);
      border-radius: 3rem;
    }
    &:active {
      background-color: $default;
      border: 1px solid $purple;
      color: $purple;
    }
  }
}