$font:          'MuseoSans500', Helvetica, Arial, sans-serif; 
$font-bold:     'MuseoSans500', Helvetica, Arial, sans-serif;

$default :      #fff;
$greenapple :   #8ede4d;
$cyan:          #5cd0fe;
$shipcove:      #7b80a1;
$sunflower:     #ffca77;
$aqua:          #38d8ae;
$purple:        #6a82f5;
$indigo:        #4da8f9;
$pink:          #ff94b9;
$berry:         #ff7474;
$dark:          #222;