/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "MuseoSans500", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MuseoSans500, Helvetica, Arial, sans-serif.eot");
  src: url("../fonts/MuseoSans500, Helvetica, Arial, sans-serif.eot?") format("eot"), url("../fonts/MuseoSans500, Helvetica, Arial, sans-serif.woff") format("woff"), url("../fonts/MuseoSans500, Helvetica, Arial, sans-serif.ttf") format("truetype"), url("../fonts/MuseoSans500, Helvetica, Arial, sans-serif.svg#MuseoSans500, Helvetica, Arial, sans-serif") format("svg"); }
@font-face {
  font-family: "MuseoSans500", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MuseoSans500, Helvetica, Arial, sans-serif.eot");
  src: url("../fonts/MuseoSans500, Helvetica, Arial, sans-serif.eot?") format("eot"), url("../fonts/MuseoSans500, Helvetica, Arial, sans-serif.woff") format("woff"), url("../fonts/MuseoSans500, Helvetica, Arial, sans-serif.ttf") format("truetype"), url("../fonts/MuseoSans500, Helvetica, Arial, sans-serif.svg#MuseoSans500, Helvetica, Arial, sans-serif") format("svg"); }
html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: "MuseoSans500", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none;
  font-family: "MuseoSans500", Helvetica, Arial, sans-serif; }

.d-flex, .d-flex-center {
  display: flex; }

.d-flex-center {
  justify-content: center;
  align-items: center; }

.buttons a {
  font-family: "MuseoSans500", Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 24px;
  padding: 1rem 1.5rem;
  background-color: #6a82f5;
  transition-duration: 400ms; }
  .buttons a:hover {
    background-color: #3a5af2; }
  .buttons a:active {
    background-color: #fff;
    border: 1px solid #6a82f5;
    color: #6a82f5; }
  .buttons a.rounded:hover {
    border-radius: .75rem; }
  .buttons a.dark:hover {
    background-color: #222;
    color: #ff7474; }
  .buttons a.dark:active {
    border-color: #222;
    background-color: #fff; }
  .buttons a.light:hover {
    background-color: #9aaaf8;
    color: #fff; }

/*# sourceMappingURL=animation-01.css.map */
